html body #container .left .block.article{font-family:Monaco}
html body #container .left .block .content{font-size:14px;color:rgba(50,50,50,0.8)}
html body #container .left .block .content .footnotes p{font-size:12px}
html body #container .left .block .content .footnotes code{font-size:12px}
html body #container .left .block .content ul{margin:0}
html body #container .left .block .content img{
  max-width:100%;
  margin:4px auto;
  -moz-box-shadow:0 0 5px rgba(153,153,153,0.5);
  -webkit-box-shadow:0 0 5px rgba(153,153,153,0.5);
  box-shadow:0 0 5px rgba(153,153,153,0.5);
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  transition:all 0.3s}
html body #container .left .block .content iframe{background-color:#fff;border:1px solid #adadad;padding:2px}
html body #container .left .block .content table{margin:10px 0 15px 0;border-collapse:collapse}
html body #container .left .block .content table td,
html body #container .left .block .content table th{border:1px solid #ddd;padding:3px 10px}
html body #container .left .block .content table th{padding:5px 10px;background-color:#f6f6f6}
html body #container .left .block .content p{margin-bottom:9px;font-size:14px}
html body #container .left .block .content h1,
html body #container .left .block .content h2,
html body #container .left .block .content h3,
html body #container .left .block .content h4,
html body #container .left .block .content h5,
html body #container .left .block .content h6{color:#404040;line-height:36px}
html body #container .left .block .content h1{margin-bottom:18px;font-size:30px}
html body #container .left .block .content h2{font-size:24px}
html body #container .left .block .content h3{font-size:18px}
html body #container .left .block .content h4{font-size:16px}
html body #container .left .block .content h5{font-size:14px}
html body #container .left .block .content h6{font-size:13px}
html body #container .left .block .content hr{margin:0 0 19px;border:0;border-bottom:1px solid #ccc}
html body #container .left .block .content blockquote{position:relative;padding:10px;margin-bottom:18px;font-family:Monaco "Josefin Sans";margin:5px auto;border:1px solid rgba(126,126,126,0.5);border-left-width:10px}
html body #container .left .block .content blockquote p{font-size:14px;font-weight:300;line-height:18px;margin:0;font-style:italic}
html body #container .left .block .content blockquote a{font-size:10px}
html body #container .left .block .content code,
html body #container .left .block .content pre{font-family:Monaco "Josefin Sans"}
html body #container .left .block .content code{
  display:inline;
  max-width:100%;
  background-color:rgba(254,233,204,0.4);
  color:rgba(0,0,0,0.75);
  padding:0 2px;margin:2px auto;
  font-size:20px;
  border:1px solid rgba(224,203,174,0.6);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  overflow:hidden;
  word-break:normal;
  word-wrap:break-word;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap
}
html body #container .left .block .content pre{
  display:block;
  padding:14px;
  margin:0 0 20px;
  line-height:24px;
  font-size:20px;
  border:1px solid #d9d9d9;
  background-color: #3F3F3F;
  overflow:hidden;
  word-break:normal;
  word-wrap:break-word;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap}
html body #container .left .block .content pre code{
  background-color:#3F3F3F;
  color:#fff;
  font-size:18px;
  padding:0;
  border:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0
}
html body #container .left .block .content sup{font-size:0.83em;vertical-align:top;line-height:10px;margin-right:5px;margin-left:2px}
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
 .err { border: 1px solid #FF0000 } /* Error */
 .k { color: #008000; font-weight: bold } /* Keyword */
 .p { color: #fff } /* Operator */
 .cm { color: #408080; font-style: italic } /* Comment.Multiline */
 .cp { color: #BC7A00 } /* Comment.Preproc */
 .c1 { color: #408080; font-style: italic } /* Comment.Single */
 .cs { color: #408080; font-style: italic } /* Comment.Special */
 .gd { color: #A00000 } /* Generic.Deleted */
 .ge { font-style: italic } /* Generic.Emph */
 .gr { color: #FF0000 } /* Generic.Error */
 .gh { color: #000080; font-weight: bold } /* Generic.Heading */
 .gi { color: #00A000 } /* Generic.Inserted */
 .go { color: #888888 } /* Generic.Output */
 .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
 .gs { font-weight: bold } /* Generic.Strong */
 .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
 .gt { color: #0044DD } /* Generic.Traceback */
 .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
 .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
 .kn { color: #f99526; font-weight: bold } /* Keyword.Namespace */
 .kp { color: #008000 } /* Keyword.Pseudo */
 .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
 .kt { color: #B00040 } /* Keyword.Type */
 .m { color: #666666 } /* Literal.Number */
 .s { color: #e6db74 } /* Literal.String */
 .na { color: #7D9029 } /* Name.Attribute */
 .nb { color: #fff} /* Name.Builtin */
 .nc { color: #0000FF; font-weight: bold } /* Name.Class */
 .no { color: #880000 } /* Name.Constant */
 .nd { color: #AA22FF } /* Name.Decorator */
 .ni { color: #999999; font-weight: bold } /* Name.Entity */
 .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
 .nf { color: #447adb } /* Name.Function */
 .nl { color: #A0A000 } /* Name.Label */
 .nn { color: #447adb; font-weight: bold } /* Name.Namespace */
 .nt { color: #008000; font-weight: bold } /* Name.Tag */
 .nv { color: #19177C } /* Name.Variable */
 .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
 .w { color: #bbbbbb } /* Text.Whitespace */
 .mb { color: #ae81ff } /* Literal.Number.Bin */
 .mf { color: #ae81ff } /* Literal.Number.Float */
 .mh { color: #ae81ff } /* Literal.Number.Hex */
 .mi { color: #ae81ff } /* Literal.Number.Integer */
 .mo { color: #ae81ff } /* Literal.Number.Oct */
 .sb { color: #BA2121 } /* Literal.String.Backtick */
 .sc { color: #BA2121 } /* Literal.String.Char */
 .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
 .s2 { color: #BA2121 } /* Literal.String.Double */
 .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
 .sh { color: #BA2121 } /* Literal.String.Heredoc */
 .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
 .sx { color: #008000 } /* Literal.String.Other */
 .sr { color: #BB6688 } /* Literal.String.Regex */
 .s1 { color: #BA2121 } /* Literal.String.Single */
 .ss { color: #19177C } /* Literal.String.Symbol */
 .bp { color: #66d9ef } /* Name.Builtin.Pseudo */
 .vc { color: #19177C } /* Name.Variable.Class */
 .vg { color: #19177C } /* Name.Variable.Global */
 .vi { color: #19177C } /* Name.Variable.Instance */
 .il { color: #666666 } /* Literal.Number.Integer.Long */
.n{color: #fff}
.o { color: #f92672 } /* Operator */

.comment {color: #7F9F7F}
.number {color: #8CD0D3}
.string {color: #CC9393}
.literal {color: #EFEFAF}
.keyword {color: #d14; font-weight: bold }
.kw { color: #204a87; font-weight: bold; }
.st { color: #e6db74 }
.kw { color: #a6e22e; font-weight: bold; }
.dt { color: #f8f8f2; }
.dv { color: #ae81ff; }
.bn { color: #ae81ff; }
.fl { color: #ae81ff; }
.ch { color: #4e9a06; }
.st { color: #e6db74; }
.co { color: #4e9a06; font-style: italic; }
.ot { color: #f8f8f2; }
.al { color: #ef2929; }
.fu { color: #000000; }
.er { font-weight: bold; }
